.pagination {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.page-item {
    background-color: none; 
}

.active {
    background-color: #6898d5; 
    width: 5%;
}

a.disabled {
    pointer-events: none;
}